/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a; /* Dark background */
  overflow-x: hidden;
}